<template>
  <div class="py-5">
    <!--     about us-->
    <v-row>
      <v-col cols="12" md="12" sm="12" class="mt-10 text-center">
        <h2>Who we are?</h2>
        <v-row
        >
          <v-col cols="12" sm="4" class="">
            <p style="">

            </p>
          </v-col>
          <p class="px-10 mx-10  px-5 py-5 ">
            Praesent non nibh ac nibh dignissim rhoncus. Proin congue mi vel neque commodo
            varius. Integer eu laoreet orci. Quisque nec ligula auctor, sodales nulla in, congue ex. Cras varius,
            tortor
            vel suscipit pulvinar.
          </p>
        </v-row>
      </v-col>

        <v-col cols="12" md="6" sm="6">
          <br>
          <h1>Jan Kowalski</h1>
          <p>Investments Consulting</p>
          <br>
          <img src="../static/member01_isolated.jpg" height="550" width="390"/>
        </v-col>
        <v-col cols="12" md="6" sm="6">
          <h1>Kate Novak</h1>
          <p>Loan Consulting</p>
          <img src="../static/member02_isolated.jpg" height="550" width="390"/>

        </v-col>
    </v-row>

    <!--    our team image-->

    <!--    our skills text -->

    <!--  our skills -->


    <!--    image -->

  </div>
</template>
<script>
export default {
  name: "AboutUs",
  data: () => ({
    teams: [],
    professions: [],
    data: [],
    power: 10
  })
}
</script>

<style scoped>
.about-text {
  margin-left: 620px;
  font-size: 34px;
  margin-bottom: 35px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
  line-height: 1.4;
}

.links {
  cursor: pointer;
}
</style>
