<template>
  <v-app>
    <v-row>
      <v-col>
        <v-row class="mt-5 px-5" style="background-color: #f6f6f6;     padding: 90px 0;">
          <v-col md="6" offset-md="3">
            <v-row>
              <v-col cols="12" md="4" sm="4" class="px-2 py-2">
                <img src="../static/sass.png" height="71" width="94"/>
              </v-col>
              <v-col cols="12" md="4" sm="4" class="px-2 py-2">
                <img src="../static/suelo.png" height="71" width="60"/>
              </v-col>
              <v-col cols="12" md="4" sm="4" class="px-2 py-2">
                <img src="../static/envato.png" height="71" width="160"/>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-col cols="8" style="margin-left: 16%">
          <v-stepper style="" v-model="e1">
            <v-stepper-header>
              <v-stepper-step
                :complete="e1 > 1"
                step="1"
              >
              </v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step
                :complete="e1 > 2"
                step="2"
              >
              </v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step step="3">
              </v-stepper-step>
            </v-stepper-header>

            <v-stepper-items>
              <v-stepper-content step="1">
                <v-card
                  class="mb-12"
                  height="200px"
                >
                  <v-expansion-panels popout>
                    <v-expansion-panel
                      v-for="(message, i) in messages"
                      :key="i"
                      hide-actions
                    >
                      <v-expansion-panel-header :style="`background-color: ${getColor}`">
                        <v-row
                          align="center"
                          class="spacer"
                        >
                          <v-col
                            cols="4"
                            sm="2"
                            md="1"
                          >
                            <v-avatar
                              size="36px"
                            >
                              <img
                                v-if="message.avatar"
                                alt="Avatar"
                                src="https://avatars0.githubusercontent.com/u/9064066?v=4&s=460"
                              >
                              <v-icon
                                v-else
                                :color="message.color"
                                v-text="message.icon"
                              ></v-icon>
                            </v-avatar>
                          </v-col>

                          <v-col>
                            <strong v-html="message.name"></strong>
                          </v-col>

                          <v-col
                            class="text-no-wrap"
                            cols="5"
                            sm="3"
                          >

                            <strong v-html="message.title"></strong>
                          </v-col>

                          <v-col
                            v-if="message.excerpt"
                            class="grey--text text-truncate hidden-sm-and-down"
                          >
                            &mdash;
                            {{ message.excerpt }}
                          </v-col>
                        </v-row>
                      </v-expansion-panel-header>

                      <v-expansion-panel-content>
                        <v-divider></v-divider>
                        <v-card-text v-text="lorem"></v-card-text>
                      </v-expansion-panel-content>

                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-card>

                <v-btn
                  color="primary"
                  @click="e1 = 2"
                >
                  Next
                </v-btn>

                <v-btn text>
                  Back
                </v-btn>
              </v-stepper-content>

              <v-stepper-content step="2">
                <v-card
                  class="mb-12"
                  height="200px"
                >
                  <v-expansion-panels popout>
                    <v-expansion-panel
                      v-for="(message, i) in messages"
                      :key="i"
                      hide-actions
                    >
                      <v-expansion-panel-header :style="`background-color: ${getColor}`">
                        <v-row
                          align="center"
                          class="spacer"
                          no-gutters
                        >
                          <v-col
                            cols="4"
                            sm="2"
                            md="1"
                          >
                            <v-avatar>
                              <img
                                v-if="message.avatar"
                                alt="Avatar"
                                src="../static/sv1.jpg"
                              >
                            </v-avatar>
                          </v-col>

                          <v-col>
                            <strong v-html="message.name"></strong>
                          </v-col>

                          <v-col
                            cols="5"
                            sm="3"
                          >

                            <strong v-html="message.title"></strong>
                          </v-col>

                          <v-col
                            v-if="message.excerpt"
                            class="grey--text text-truncate hidden-sm-and-down"
                          >
                            &mdash;
                            {{ message.excerpt }}
                          </v-col>
                        </v-row>
                      </v-expansion-panel-header>

                      <v-expansion-panel-content>
                        <v-divider></v-divider>
                        <v-card-text v-text="lorem"></v-card-text>
                      </v-expansion-panel-content>

                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-card>

                <v-btn
                  color="primary"
                  @click="e1 = 3"
                >
                  Next
                </v-btn>

                <v-btn text>
                  Back
                </v-btn>
              </v-stepper-content>

              <v-stepper-content step="3">
                <v-card
                  class="mb-12"
                  height="200px"
                >
                  <v-expansion-panels popout>
                    <v-expansion-panel
                      v-for="(message, i) in messages"
                      :key="i"
                      hide-actions
                    >
                      <v-expansion-panel-header :style="`background-color: ${getColor}`">
                        <v-row
                          align="center"
                          class="spacer"
                          no-gutters
                        >
                          <v-col
                            cols="4"
                            sm="2"
                            md="1"
                          >
                            <v-avatar
                              size="36px"
                            >
                              <img
                                v-if="message.avatar"
                                alt="Avatar"
                                src="../static/sv.jpg"
                              >
                              <v-icon
                                v-else
                                :color="message.color"
                                v-text="message.icon"
                              ></v-icon>
                            </v-avatar>
                          </v-col>

                          <v-col
                            class="hidden-xs-only"
                            sm="5"
                            md="3"
                          >
                            <strong v-html="message.name"></strong>

                          </v-col>

                          <v-col
                            class="text-no-wrap"
                            cols="5"
                            sm="3"
                          >

                            <strong v-html="message.title"></strong>
                          </v-col>

                          <v-col
                            v-if="message.excerpt"
                            class="grey--text text-truncate hidden-sm-and-down"
                          >
                            &mdash;
                            {{ message.excerpt }}
                          </v-col>
                        </v-row>
                      </v-expansion-panel-header>

                      <v-expansion-panel-content>
                        <v-divider></v-divider>
                        <v-card-text v-text="lorem"></v-card-text>
                      </v-expansion-panel-content>

                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-card>

                <v-btn
                  color="blue"
                  @click="e1 = 1"
                >
                  Next
                </v-btn>

                <v-btn text>
                  Back
                </v-btn>
              </v-stepper-content>
            </v-stepper-items>
          </v-stepper>
        </v-col>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "Clients",
  data() {
    return {

      messages: [
        {
          avatar: 'https://avatars0.githubusercontent.com/u/9064066?v=4&s=460',
          name: 'John Leider',
          title: 'Welcome',
          excerpt: 'Thank you for joining our community...',
        },
      ],
      lorem: 'Lorem ipsum dolor sit amet, at aliquam vivendum vel, everti delicatissimi cu eos. Dico iuvaret debitis mel an, et cum zril menandri. Eum in consul legimus accusam. Ea dico abhorreant duo, quo illum minimum incorrupte no, nostro voluptaria sea eu. Suas eligendi ius at, at nemore equidem est. Sed in error hendrerit, in consul constituam cum.',
      e1: 1
    }
  },
  computed: {
    ...mapGetters({getColor: 'getColor'}),
  },
}
</script>

<style scoped>
.photo-clients {
  padding-top: 10%;
}

</style>
