<template>
  <div class="py-5  ">
    <!-- contact us text -->
    <v-row>
      <v-col cols="12" md="12" sm="12" class="my-2 text-center">
        <h2>Contact Us</h2>
      </v-col>
    </v-row>

    <!-- Contact form -->

    <v-row>
      <v-col md="8" offset-md="2">
        <v-row>
          <v-col cols="12" md="4" sm="4" class="text-left">
            <h3></h3>
            <span></span>
            <p></p>
            <p style="opacity: 0.8;font-size: 15px"><span style="font-weight: bold"></span>
            </p>
            <p style="opacity: 0.8;font-size: 15px"><span style="font-weight: bold"></span></p>
            <p style="opacity: 0.8;font-size: 15px"><span style="font-weight: bold"></span></p>
          </v-col>
          <v-col cols="12" md="8" sm="8" class="text-left">
            <h3></h3>


            <v-row style="width: 70%">
              <v-col class="mt-4">
                <span class="font-weight-bold"></span>
                <v-text-field
                  v-model="formData.name"
                  :rules="nameRules"
                  label="Name"
                  outlined
                  dense
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row style="width: 70%">
              <v-col class="">
                <span class="font-weight-bold"></span>
                <v-text-field
                  v-model="formData.email"
                  :rules="emailRules"
                  label="E-mail"
                  outlined
                  dense
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row style="width: 70%">
              <v-col class="">
                <span class="font-weight-bold"></span>
                <v-text-field
                  v-model="formData.subject"
                  label="Subject"
                  :rules="nameRules"
                  outlined
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row style="width: 70%">
              <v-col class="">
                <span class="font-weight-bold"></span>
                <v-textarea
                  v-model="formData.message"
                  type="text"
                  label="Massage"
                  outlined
                  dense
                ></v-textarea>
              </v-col>
            </v-row>

            <!-- send message btn -->
            <v-row>
              <v-col>
                <v-btn color="white" class="border-none" elevation="0" style="border: 2px solid black!important">
                  <v-icon dense small>mdi-message</v-icon>
                  Send Message
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "Contact",

  data: () => ({
    nameRules: [
      v => !!v || '' +
        'required',
    ],
    emailRules: [
      v => /.+@.+/.test(v) || 'E-mail must be valid',
    ],
    formData: {
      name: '',
      email: '',
      subject: '',
      message: ''
    }
  })
}
</script>

<style scoped>

.bg-dark {
  background-color: #1f1f1f;
  box-shadow: none !important;
  border-bottom: 1px solid lavender !important;
  color: white;
}
</style>
