<template>
  <div class="py-4">
    <v-app-bar fade-img-on-scroll fixed class="navbar">
      <v-spacer></v-spacer>
      <h2>OKNO</h2>
      <v-spacer></v-spacer>
      <div class="links">
        <span
          class="mx-2"
          :class="link.isActive ? 'linkClass' : ''"
          v-for="link of links" :key="link.id"
          @click="borderBottom(link); $vuetify.goTo(link.goTo)"
        >
          {{ link.title }}
        </span>
      </div>
      <v-spacer></v-spacer>
      <v-btn
        :btn="drawer === false"
        @click="drawer = !drawer"
        :style="`background-color: ${getColor}`"
      >
        show
      </v-btn>
    </v-app-bar>
    <v-navigation-drawer
      height="100%"
      app
      right
      class="right-sidebar"
      :style="drawer ? 'width: 0' : 'width: 300px' "
    >
      <div class="lists" style="top: 0; ">
        <v-list-item>
          <h4>PICK A STYLE:</h4>
        </v-list-item>
        <v-hover v-slot="{ hover }">
          <v-list-item
            style=" left: 0; top: 0; right: 0; bottom: 0; "
            :elevation="hover ? 12 : 2"
            :class="{ 'on-hover': hover }">
            <v-list style=" ">
              <v-img style=" cursor:pointer; margin-bottom: 4px; " v-for="(item,i) of items" :key="i" :src="item.src">
                <v-checkbox
                  style="background-color: white;opacity: 0.6;margin-top: 30px;padding-top: 15px"
                  :label="item.name"
                  v-model="item.value"
                  :color="item.color"
                  @click="handleClickItem(item) "
                >
                </v-checkbox>
              </v-img>
            </v-list>
          </v-list-item>
        </v-hover>
      </div>
    </v-navigation-drawer>
    </div>
</template>
<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "Header",
  data: () => ({

    items: [
      {
        id: 1,
        src: "https://suelo.pl/themes/okno/assets/styleswitcher/img/classic.jpg",
        name: "",
        color: "#1D2FA87A",
        value: false
      },
      {
        id: 2,
        src: "https://suelo.pl/themes/okno/assets/styleswitcher/img/nature.jpg",
        name: "",
        color: "#32A81D7A",
        value: false
      },
      {
        id: 3,
        src: "https://suelo.pl/themes/okno/assets/styleswitcher/img/duo.jpg",
        name: "",
        color: "#A86615DA",
        value: false
      },
      {
        id: 4,
        src: "https://suelo.pl/themes/okno/assets/styleswitcher/img/fire.jpg",
        name: "",
        color: "#7B1027F8",
        value: false
      },
      {
        id: 5,
        src: "https://suelo.pl/themes/okno/assets/styleswitcher/img/bluematic.jpg",
        name: "",
        color: "#0E45D4F7",
        value: false
      },
      {
        id: 6,
        src: "https://suelo.pl/themes/okno/assets/styleswitcher/img/bottle.jpg",
        name: "",
        color: "#10EC08F7",
        value: false
      },
      {
        id: 7,
        src: "https://suelo.pl/themes/okno/assets/styleswitcher/img/energy.jpg",
        name: "",
        color: "#E26D05F7",
        value: false
      },
      {
        id: 8,
        src: "https://suelo.pl/themes/okno/assets/styleswitcher/img/strong.jpg",
        name: "",
        color: "#E20505F7",
        value: false
      },
      {
        id: 9,
        src: "https://suelo.pl/themes/okno/assets/styleswitcher/img/teal.jpg",
        name: "",
        color: "#08EAF1F7",
        value: false
      },

    ],
    drawer: false,
    links: [
      {id: 1, title: 'HOME', isActive: false, goTo: '#home'},
      {id: 3, title: 'SERVICES', isActive: false, goTo: '#services'},
      {id: 2, title: 'ABOUT', isActive: false, goTo: '#about'},
      {id: 4, title: 'CLIENTS', isActive: false, goTo: '#clients'},
      {id: 5, title: 'CONTACT', isActive: false, goTo: '#contact'},
    ],

  }),

  computed: {
    ...mapGetters({getColor: 'getColor'})
  },
  watch: {
    value(val) {
      console.log(val)
    }
  },
  methods: {
    ...mapActions({setColor: 'setColor'}),
    handleClickItem(item) {
      item.value = true
      this.items.forEach(i => {
        if (i.id !== item.id) {
          i.value = false
        }
      })
      this.setColor(item.color)
    },

    borderBottom(link) {
      link.isActive = true
      this.links.forEach(l => {
        if (l.id !== link.id) {
          l.isActive = false
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.navbar {
  background-color: white !important;
  box-shadow: none !important;
  border-bottom: 1px solid lavender;
  color: black;
}

@media (max-height: 840px) {
  .links {
    display: none;
  }
}

.links {
  cursor: pointer;
  font-weight: 600;

}

.right-sidebar {
  margin-top: 64px;
  z-index: 1000;
  transform: translateX(0%)!important;
  visibility: unset;
}




.v-card:not(.on-hover) {
  opacity: 0.6;
}



</style>
