<template>
  <v-app :style="`background-color: ${getColor}`">
    <v-row>
      <v-col style="margin-top: 20%;">
        <h1>Need a consulting services? We are here for you!</h1>
      </v-col>
    </v-row>
    <div class="v-button text-center pb-30">
      <v-btn class="btn btn-default" data-target="local-scroll">
        WHAT WE DO?
      </v-btn>
    </div>
  </v-app>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
  name: "Home",
  data: () => ({
  }),
  computed: {
   ...mapGetters({getColor: 'getColor'})
  },
  methods: {},
  watch: {}
}
</script>

<style scoped>
.v-button {
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.text-center {
  text-align: center;
}
.btn {
  position: relative;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  padding: 13px 28px 15px;
  border: none;
  color: inherit;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  outline: none;
  background: transparent;
  margin-bottom: 3px;
}


</style>
