<template>
  <v-app>
    <v-row  class="mt-5 px-5" style="background-color: #f6f6f6;     padding: 90px 0;">
      <v-col md="6" offset-md="3">
        <h2 style="margin-bottom: 60px!important;">Our services</h2>

        <v-row>
          <v-col cols="12" md="6" sm="6" class="px-2 py-2">
            <img  src="../static/consulting_photo01.jpg" class="media1"/>

          </v-col>
          <v-col cols="12" md="6" sm="6" class="px-2 py-2">
            <img  src="../static/consulting_photo02.jpg" class="media2" />
          </v-col>
        </v-row>
      </v-col>

    </v-row>
  </v-app>

</template>

<script>
export default {
  name: "Services"
}
</script>

<style scoped>
@media (max-height: 840px) {
  .media1{
    height: 100px;
  }
}
.media1{
  height: 500px;
  width: 100%;
}
.media2{
  height:500px;
  width:100%
}
</style>
