<template>
  <v-app>
    <Header/>
    <v-window class="text-center">
      <nuxt/>
    </v-window>
  </v-app>
</template>
<script>
export default {
  data() {
    return {
      fixed:false,
    }
  }
}
</script>
