<template>
<div>
  <Home id="home"/>
  <Services id="services"/>
  <About id="about"/>
  <Clients id="clients"/>
  <Contact id="contact"/>
</div>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'
import Clients from "../components/Clients";
import About from "../components/About";
import Services from "../components/Services";
import Contact from "../components/Contact";
import Home from "../components/Home";

export default {
  components: {
    Home,
    Contact,
    Services,
    About,
    Clients,
    Logo,
    VuetifyLogo
  }
}
</script>
